---
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <Card title="world" width="45vw" offset="7vw 0 0 18vw">
        <blockquote>
            <p>
                Everything else has a portion of everything, but mind is boundless, autonomous,
                and mixed with no object, but it is alone all by itself.
            </p>
            <p>
                - Anaxagoras
            </p>
        </blockquote>
    </Card>
    <Card title="contact" width="40vw" offset="2vw 0 0 34vw">
        <address>
            <p>github: <a href="https://github.com/worldunseen/">worldunseen</a></p>
            <p>osu: <a href="https://osu.ppy.sh/users/12156775">worldunseen</a></p>
            <p>discord: worldunseen</p>
            <p>email: world (at) unseen (dot) dev</p>
            <p>gpg/pgp: <code>5E2EDCCE23B83944A3D6BAC750325D6EE72F6A6A</code> <a href="key.pub">key</a></p>
        </address>
    </Card>
</Layout>

<style>
    code {
        background: #555555;
        color: #f5f5f5;
        padding: 0.25rem 0.5rem;
        border-radius: 0.4rem;
    }
</style>